name: Release

on:
  workflow_dispatch:
    inputs:
      increment:
        description: "Version bump (patch, minor, major)"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          check-latest: true
          cache: npm
      - run: git config user.name "github-actions[bot]"
      - run: git config user.email "github-actions[bot]@users.noreply.github.com"
      - run: npm ci
      - run: npm run lint
      - run: npm run release:ci -- --increment ${{ inputs.increment }}
        env:
          DEBUG: release-it:config
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: "true"
          NODE_DEBUG: release-it:config
